<html>
  <head>
    <title>Page du potin n°<%= params['id'].to_i + 1 %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <div class="d-flex justify-content-center h-25">
      <h1 class="display-4" style="margin-top: 70px">Potin n°<%= params['id'].to_i + 1 %> 🤫</h1>
    </div>
    <div class="container d-flex justify-content-center">
      <div class="card">
        <h5 class="card-header d-flex justify-content-center"><%= gossip.author %></h5>
        <div class="card-body d-flex justify-content-center">
          <p class="card-text"><%= gossip.content %></p>
        </div>
      </div>
    </div>
    <div class="container d-flex justify-content-around" style="margin-top: 70px">
      <a class="btn btn-danger" href="/gossips/<%= params['id']%>/edit">Modifier le potin</a>
      <a class="btn btn-primary" href="/">Page d'Acceuil</a>
    </div>
    <p style="display:none"><%= nb = 1 %></p>
    <div class="container" style="margin-top: 50px">
    <% comments.each.with_index do |comments, id| %>
      <div class="card">
        <div class="card-header">
          <p>Commentaire n°<%=nb%></p>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p><%=comments.content %></p>
            <footer class="blockquote-footer"><%= comments.author %></footer>
          </blockquote>
          <p style="display:none"><%= nb += 1 %></p>
        </div>
      </div>
      </br>
    <% end %>
    </div>
  </body>
</html>